#border-style-list {
    list-style-type:  none; /*앞에 점 찍히는 거 보기 싫어서*/
    background-color: rgb(236, 202, 255);
}

#border-style-list > li {
    border: solid black 5px;
    padding: 5px;
    margin: 3px;
}

#border-style-list > :first-child {
    border-color: green;
    border-style: solid;
    border-width: 5px;
}

#border-style-list > :nth-child(2) {
    border-color: coral;
    border-style: dashed;
}

#border-style-list > :nth-child(3) {
    border-color: darkblue;
    border-style: dotted;
}

#border-style-list > :nth-child(4) {
    border-color: blueviolet;
    border-style: double;
}

#border-style-list > :nth-child(5) {
    border-color: deeppink;
    border-style: groove;
    border-width: 10px;
}

#border-style-list > :nth-child(6) {
    border-color: rgb(240, 252, 21);
    border-style: ridge;
}

#border-style-list > :nth-child(7) {
    border-color: rgb(255, 189, 89);
    border-style: inset;
}

#border-style-list > :nth-child(8) {
    border-color: rgb(98, 187, 255);
    border-style: outset;
}

#border-style-list > :nth-child(9) {
    border-color: rgb(53, 255, 107);
    border-style: none;
}

#border-style-list > :nth-child(10) {
    border-color: rgb(144, 255, 59);
    border-style: hidden; /*none이랑 똑같은데 테두리중첩 됐을 때 다르게 나타남*/
}



#multi-value-list {
    background-color: rgb(190, 190, 190);
    list-style: none;
    color: white;
}
/*값을 하나 주는 경우 : 모든 방향에 적용됨*/
#multi-value-list > :first-child {
    border-style : double;
    border-width : 5px;
    border-color : black;
}
/*값을 두 개 주는 경우 : (1)위/아래, (2)왼쪽/오른쪽으로 적용됨 */
#multi-value-list > :nth-child(2) {
    border-style: double ridge;
    border-width: 5px 10px;
    border-color: red blue;
}
/*값을 세 개 주는 경우 : (1)위, (2)왼/오, (3)아래 로 적용됨 */
#multi-value-list > :nth-child(3) {
    border-style: solid;
    border-width: 5px 10px;
    border-color: red blue yellow;
}
/*값을 네 개 주는 경우 :(1)위(2)오(3)아래(4)왼 시계방향으로 적용됨 */
#multi-value-list > :nth-child(4) {
    border-style: solid dashed dotted inset;
    border-width: 5px 10px;
    border-color: red blue yellow lime;
}

#multi-value-list > li { /*여백좀 넣어주갔스*/
    margin: 5px;
    padding: 3px;
}