
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

#pangram1 {
    font-size: 30px;
    font-family: '궁서체', '바탕체', '돋움', 'Consolas'; /*글꼴이 없을 경우를 대비해 예비 글꼴 지정 가능*/
}

#pangram2 {
    font-family: 'Oleo Script Swash Caps', cursive; /*cursive 아마 예가 같은 종족 대표하는 그건가봄*/
    font-size: 1.5rem;
    word-spacing: 0.3rem;
    /*글꼴들은 종족이 있는데 같은 종족 = 크기가 같음 
    그래서 같은 종족을 예비 글꼴로 넣어놔야 사이트의 미관을 해치지 않음
    근데 이 cursive는 어쩌고라 예비글꼴로 삼기 좋대 아놔 못 들음*/
}
#pangram3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5rem;
    word-spacing: 0.5rem;
}

#pangram4 {
    font-family: 'Gowun Batang', serif;
    font-size: 1.5rem;
    word-spacing: 0.5rem;
}
#pangram5 {
    font-family: 'Sacramento', cursive;
    font-size: 2.0rem;
    word-spacing: 0.5rem;
}