#paragraph {
    text-indent: 1.0rem; /*들여쓰기*/
}

#paragraph::first-letter {
    font-size: 2.0rem;
    font-weight: bold;
}

#paragraph::first-line {
    color: orange;
}


#paragraph::selection {
    background-color: blue;
    color: white;
}

#paragraph::before {
    content : "BEFORE!"; /*p태그 시작 전에 BEFORE! 문구 넣어줄 수 있음*/
    color: black;
}

#paragraph::after {
    content: "AFTER!";
}

/*F12눌러서 보면 ::before와 ::after 가상요소가 생성 돼 있음을 확인할 수 있음*/